@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1{
    font-family: 'Lobster', cursive;
}
body{
    background-color: aliceblue;
}
p{
    font-family: 'Syne Mono', monospace;
}
h2{
    font-family: 'Pangolin', cursive;
}